$night: #000414;
$nightText: #cbcbcb;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $night;
  color: $nightText;

  table {
    border-collapse: collapse;
    border: 1px solid $nightText;
    td,
    th {
      border: 1px solid $nightText;
      padding: 4px;
    }
    margin-top: 12px;
    display: inline-block;
  }

  p {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 3px;
  }

  div {
    display: inline-block;
  }
  canvas {
    display: inline-block;
    height: auto;
  }
}
